/* ============================================================================================ */
/* [Web Font]
/* ============================================================================================ */
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"); font-weight: 100; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"); font-weight: 200; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff"); font-weight: 300; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"); font-weight: 400; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"); font-weight: 500; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"); font-weight: 700; font-style: normal;}
@font-face {font-family: "Noto Sans KR"; src: url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"); font-weight: 900; font-style: normal;}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* ============================================================================================ */
/* [common]
/* ============================================================================================ */
body {font-family: 'Lato', 'Noto Sans KR', sans-serif; word-break: keep-all;}


/* clearfix */
.clearfix {*zoom: 1;}
.clearfix::after {content: ''; display: block; clear: both;}

/* float */
.f-left {float: left;}
.f-right {float: right;}

/* display */
.pc_only {display: block !important;}
.mo_only {display: none !important;}

/* fontStyle */
.ta-left {text-align: left !important;}
.ta-center {text-align: center !important;}
.ta-right {text-align: right !important;}

.bold {font-weight: 700 !important;}

.pink {color: #ff32cc !important;}
.white {color: #fff !important;}

/* font */
.container h2 {font-size: 60px; font-weight: 700; line-height: 1.3;}
.container h3 {font-size: 48px; line-height: 1.5;}
.container h4 {font-size: 40px; line-height: 1.3;}
.container h5 {font-size: 32px; line-height: 1.5;}
.container p {font-size: 18px; line-height: 1.6;}

/* btn */
.btnWrap {font-size: 0; text-align: center;}
.btn {display: inline-block; margin-top: 60px; padding: 5px 0; cursor: pointer;}
.btn + .btn {margin-left: 10px;}
.btn > a {display: inline-block; font-size: 16px; font-weight: 700; color: #222; letter-spacing: 6px;}

.btn.txtBtn > a::after {content: ""; display: block; margin-top: 5px; width: 0; height: 2px; background: #ec3966; transition: 0.5s;}
.btn.txtBtn:hover > a {color: #ec3966;}
.btn.txtBtn:hover > a::after{width: 80%; background: #ec3966;}

.btn.lineBox {position: relative; padding: 20px 80px; border: 1px solid #222;}
.btn.lineBox > a::after {content: ''; position: absolute; top: 0; left: 0; width: 0; height: 100%; transition: 0.3s; background: #fff; z-index: -1;}
.btn.lineBox.bgBlack {background: #222;}
.btn.lineBox.bgBlack > a {color: #fff;}

.btn.lineBox:hover {border-color: #ec3966;}
.btn.lineBox:hover > a {color: #fff;}
.btn.lineBox:hover > a::after {width: 100%; background: #ec3966;}

.btn.lineBox.bgBlack:hover {border-color: #222;}

/* srollbar */
::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button {display: none;}

.privacy::-webkit-scrollbar {width: 10px;}
.privacy::-webkit-scrollbar-thumb {background: #ddd;}
.privacy::-webkit-scrollbar-button {display: none;}

/* img_ir */
.img_ir {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;}

/* ============================================================================================ */
/* [layout]
/* ============================================================================================ */

.w1200 {width: 1200px; margin: 0 auto;}
.inner {padding: 100px 0;}

@media all and (max-width: 1280px) {
    .w1200 {width: 100%; padding-left: 60px; padding-right: 60px;}
}

@media all and (max-width: 980px) {

    /* display */
    .pc_only {display: none !important;}
    .mo_only {display: block !important;}

    /* font */
    .container h2 {font-size: 10.20vw;}
    .container h3 {font-size: 8.16vw;;}
    .container h4 {font-size: 7.35vw;}
    .container h5 {font-size: 6.12vw;}
    .container p {font-size: 4.29vw;}

    .btn.full {width: 100%;}
    .btn.half {width: 49.2%;}
    .btn.half + .btn.half {margin-left: 1.6%;}

    .btn {margin-top: 6.12vw; padding: 1.02vw 0;}
    .btn > a {font-size: 4.29vw; letter-spacing: 0.61vw;}
    .btn.lineBox {padding: 3.67vw 0; border-width: 0.31vw;}

    .w1200 {width: 100%; padding-left: 6.12vw; padding-right: 6.12vw;}
    .inner {padding-top: 10.20vw; padding-bottom: 10.20vw;}
}
