html { font-size: 16px; font-family: "Noto Sans KR", sans-serif; color:#222; letter-spacing: -0.025rem; }
html, body{ width: 100%; height: 100%;}
html body * { line-height: 1.1em; }
html[lang="ko-KR"], html[lang="ko"] { font-family: "Noto Sans KR", sans-serif; }
html[lang="ko-KR"] body, html[lang="ko"] body { font-size: 16px; font-weight: 400; }
html[lang="en"], html *[lang="en"] { font-family: "Noto Sans KR", sans-serif; }
html[lang="en"] body, html *[lang="en"] body { font-size: 18px; font-weight: 400; }
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; -webkit-appearance: none; appearance: none; margin: 0; }
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }
html * { -webkit-box-sizing: border-box; box-sizing: border-box; word-wrap: normal; }
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }
img { vertical-align: top; border: 0; max-width:100%; }
fieldset { border: 0; }
ul, ol, li { list-style: none; }
hr { display: none; border: 0; }
pre { white-space: pre-wrap; }
legend, caption { display: none; clear: both; }
a { color: inherit; cursor: pointer; }
a:link { text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }
em, i, address, cite { font-style: normal; font-weight: normal; }
input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }
button, select { cursor: pointer; }
textarea, input, select { border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
textarea { resize: none; }
label { cursor: pointer; }
table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
th, td { border-collapse: collapse; }
progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }
progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }
progress[value][role][aria-valuenow]:after { background-image: none; }
progress[value][role][aria-valuenow]:before { display: table; }
progress[value][role][aria-valuenow] strong { display: none; }
progress[value][role][aria-valuenow]::-webkit-progress-value, progress[value][role][aria-valuenow]::-webkit-progress-inner-element { display: table; }
progress[value][role][aria-valuenow]::-webkit-progress-bar { display: table-cell; }
progress[value][role][aria-valuenow]::-moz-progress-bar, progress[value][role][aria-valuenow]::-webkit-progress-value { display: table; }
textarea { color: inherit; }
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; }
textarea:focus::-moz-placeholder { color: transparent; }
textarea:focus:-ms-input-placeholder { color: transparent; }
input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; cursor: pointer; }
input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; border-radius: 0; }
input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }
input { color: inherit; }
input::-webkit-input-placeholder { color: inherit; }
input::-moz-placeholder { color: inherit; }
input:-ms-input-placeholder { color: inherit; }
input:-moz-placeholder { color: inherit; }
input:focus { border: 0; }
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }
input:focus::-moz-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }
input:-webkit-autofill, textarea:-webkit-autofill, select { -webkit-appearance: none; appearance: none; }
input:-webkit-autofill:-webkit-autofill, textarea:-webkit-autofill:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; box-shadow: 0 0 0px 1000px white inset; }
input:-webkit-autofill::-ms-expand, textarea:-webkit-autofill::-ms-expand, select::-ms-expand { display: none; }
input[type="date"]::-webkit-clear-button { display: none; }
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }
input[type="date"] { -moz-appearance: none; appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }
input[type="date"], input:focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
html * { color: #222; background: #fff; } }
pre, code { font-family: "Noto Sans KR", sans-serif; line-height: 1em; }
select::-ms-expand { display: none; }
select:focus { outline: none; }
select::-ms-value { background: none; }
